.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.board-paper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  width: 60%;
  height: 580px;
  background-color: black !important;
}

a.guessBtn{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  a.guessBtn:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
   a.guessBtn{
  display:block;
  margin:0.4em auto;
  }
  }

  .create-game {
    align-self: flex-start;
    margin-left: 0;
  }

  .textBox {
    position: absolute;
    right: 20%;
    color: #FFEE00;
    width: 200px;
    height: 220px;
    border: 3px double #FFEE00;
    border-radius: 8px;
    text-align: center;
  }

  @media only screen and (max-width: 1051px) {
    .textBox {
      width: 150px;
    }
}

@media only screen and (max-width: 618px) {
  .board-paper {
    width: 100%;
  }

  .textBox {
    right: 2px;
  }
}

@media only screen and (max-width: 875px) {
  .board-paper {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 394px) {
  .board-paper {
    align-items: center;
    height: 100%;
  }

  .textBox {
    position: unset;
    width: 250px;
    margin-bottom: 8px;
  }
}

